div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
	max-width: 100%;
	max-height: 100%;
	height: 100%;
}
.news-date-time {
	color:#486DAA;
}
