.dzen {
height: 30px;
  display: inline-block;
  background: #333;
  color: white;
  border-radius: 5px;
  margin-left: 4px;
  position: relative;
  top: 7px;
}
.dzen:hover {background: #444; color: white;}
.dzen img {
    max-height: 25px;
  padding-left: 6px;
}
.dzen span {
    padding: 0 15px 0 10px;
    font-size: 0.625rem;
  line-height: 31px;
}
.ya-share2.ya-share2_inited {display: inline-block}

@media (max-width: 768px) {
    .dzen span {
    display: none;
}
.dzen {
    background: none;
    top: 3px;
    margin-left: 0px;
}
.dzen img {max-height: 30px;
padding-left: 1px;
}
}
.tabs__content {
  display: none;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding: 1.875rem;
}

.tabs__content.active {
  display: block;
}

.tabs__caption {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  margin-bottom: 0rem;
}

.tabs {
  border-bottom: 1px solid #e4e4e4
}

.tabs__item {
  display: flex;
  vertical-align: top;
  position: relative;
  width: 50%;
  height: 65px;
  padding: 0px 10px;
  margin-bottom: -1px;
  border: 1px solid #e4e4e4;
  border-left: none;
  text-align: center;
  cursor: pointer;
  background: #fafafa;
  color: #999;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.tabs__item:first-child {
  border-left: 1px solid #e4e4e4;
  border-top-left-radius: 3px
}

.tabs__item:last-child {
  border-top-right-radius: 3px
}

.tabs__item.active {
  border-bottom: none;
  background: #fff;
  color: #222;
  cursor: default
}
.disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
}