<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<!--padding-right percentage will after all depend on the longest line of the following text under the h1 label-->
<div class="container mt-5" style="padding-left: 3rem; padding-right: 23%">
    <h1 class="head-border-bottom" style="white-space: pre">Products database page</h1>
    <br>
    <ul>
        <li>
            <a class="text-dark" href="/admin/databases">
                <h4>Return to the Previous Page</h4>
            </a>
        </li>
        <li>
            <h1>
                Show the List of Products
            </h1>
            <ul>
                <li style="list-style: none;">
                    <a class="btn btn-outline-secondary" href="/admin/databases/products-database/products">Show</a>
                </li>
            </ul>
        </li>
        <li>
            <h1>
                Show Information about<br>the Existing Product <i>(by productID)</i>
            </h1>
            <ul>
                <li style="list-style: none;">
                    <form action="/admin/databases/products-database" method="post">
                        <div class="input-group mb-3">
                            <label for="retrieveForDisplayByProductID"></label><input id="retrieveForDisplayByProductID" type="text" class="form-control" placeholder="Insert ProductID" aria-label="retrieveForDisplayByProductID" aria-describedby="basic-addon2">
                            <button class="btn btn-outline-secondary" type="button" onclick="retrieveForDisplayDataByProductID()">Submit</button>
                        </div>      
                    </form>
                </li>
            </ul>
        </li>
        <li>
            <h1>
                Edit the Existing Product <i>(by productID)</i>
            </h1>
            <ul>
                <li style="list-style: none;">
                    <form action="/admin/databases/products-database" method="post">
                        <div class="input-group mb-3">
                            <label for="retrieveForEditByProductID"></label><input id="retrieveForEditByProductID" type="text" class="form-control" placeholder="Insert ProductID" aria-label="retrieveForEditByProductID" aria-describedby="basic-addon2">
                            <button class="btn btn-outline-secondary" type="button" onclick="retrieveDataForEditByProductID()">Submit</button>
                        </div>      
                    </form>
                </li>
            </ul>
        </li>
        <li>
            <h1>
                Add New Product
            </h1>
            <form action="/admin/databases/products-database" method="post" enctype="multipart/form-data" onsubmit="return checkCategory()">
                <ul>
                    <li style="list-style: none;">
                        <div class="input-group mb-3">
                            <label for="name"></label><input type="text" class="form-control" id="name" name="name" placeholder="Add Name" required aria-label="Add Name" aria-describedby="basic-addon2">
                        </div>
                    </li>
                    <li style="list-style: none;">
                        <div class="input-group mb-3">
                            <label for="price"></label><input type="text" class="form-control" id="price" name="price" placeholder="Add Price" required aria-label="Add Price" aria-describedby="basic-addon2">
                        </div>
                    </li>
                    <li style="list-style: none;">
                        <div class="input-group mb-3">
                            <label for="category"></label><input type="text" class="form-control" id="category" name="category" placeholder="Add Category" required aria-label="Add Category" aria-describedby="basic-addon2">
                        </div>
                    </li>
                    <li style="list-style: none;">
                        <div class="input-group mb-3">
                            <label for="sex"></label><input type="text" class="form-control" id="sex" name="sex" placeholder="Add Sex" required aria-label="Change Sex" aria-describedby="basic-addon2">
                        </div>
                    </li>
                    <li style="list-style: none;">
                        <div class="input-group mb-3">
                            <label for="description"></label><textarea type="text" class="form-control" id="description" name="description" placeholder="Add Description" aria-label="Add Description" aria-describedby="basic-addon2"></textarea>
                        </div>
                    </li>
                    <li style="list-style: none;">
                        <div class="input-group mb-3">
                            <label for="quantity"></label><input type="text" class="form-control" id="quantity" name="quantity" placeholder="Add Quantity" required aria-label="Add Quantity" aria-describedby="basic-addon2">
                        </div>
                    </li>
                    <!-- totalSold = quantity -->
                    <li style="list-style: none;">
                        <div class="input-group mb-3">
                            <label for="file"></label><input type="file" class="form-control" id="file" name="file" placeholder="Select Photo" required aria-label="Select Photo" aria-describedby="basic-addon2">
                        </div>
                    </li>
                    <li style="list-style: none;">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Submit</button>
                        </div>
                    </li>
                </ul>
            </form>
        </li>
    </ul>
    
</div>

<div th:insert="~{blocks/footer :: footer}"></div>



</body>

<script>
    function retrieveForDisplayDataByProductID() {
        var attributeValue = document.getElementById("retrieveForDisplayByProductID").value;
        window.location.href = "/admin/databases/products-database/" + attributeValue;
    }

    function retrieveDataForEditByProductID() {
        var attributeValue = document.getElementById("retrieveForEditByProductID").value;
        window.location.href = "/admin/databases/products-database/edit/" + attributeValue;
    }

    function checkCategory() {
        var inputPriceValue = document.getElementById("price").value;
        var inputQuantityValue = document.getElementById("quantity").value;
        var inputCategory = document.getElementById("category");
        var inputCategoryValue = inputCategory.value;
        var inputSexValue = document.getElementById("sex").value;
        const inputCategoryValueCap = inputCategoryValue.charAt(0).toUpperCase() + inputCategoryValue.slice(1);
        const categories = [
            "Coats & Jackets",
            "Pullovers",
            "Shirts",
            "T-Shirts",
            "Hoodies",
            "Jeans",
            "Trousers",
            "Sport",
            "Watches",
            "Bracelets",
            "Souvenirs"
        ];

        if (!categories.includes(inputCategoryValueCap)) {
            alert(`Category ${inputCategoryValueCap} isn't correct!\nPlease, check the proper categories on Show Categories page!`);
            return false;
        }
        if (isNaN(parseFloat(inputPriceValue))) {
            alert(`Price ${inputPriceValue} is not a number!\nPlease, enter the proper value!`);
            return false;
        } else {
            document.getElementById("price").value = parseFloat(inputPriceValue);
        }
        if (inputQuantityValue < 0) {
            alert(`Quantity ${inputQuantityValue} is smaller then 0!\nQuantity value should be equal or greater than 0!`);
            return false;
        }
        if (!['0', '1'].includes(inputSexValue)) {
            alert(`Sex value ${inputSexValue} is not equal to 0 or 1!`);
            return false;
        }
        if (isNaN(parseInt(inputQuantityValue))) {
            alert(`Quantity ${inputQuantityValue} is not integer!\nPlease, enter the proper value!`)
            return false;
        } else {
            document.getElementById("quantity").value = parseInt(inputQuantityValue);
        }
        return true;
    }
</script>

<style>
    body {
        font-family: monospace;
    }

    header {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 3;
    }

    .head-border-bottom {
        border-bottom: 3px solid darkseagreen;
    }

    ul {
        list-style: square;
        /* font-size: 2rem; */
    }

    li {
        padding-top: 15px;
        white-space: nowrap;
        font-size: 2rem;
    }

    button {
        white-space: nowrap;
    }

    .btn-outline-secondary {
        --bs-border-radius: 0;
        --bs-btn-font-size: 1.4rem;
        --bs-btn-padding-x: 1em;
        --bs-btn-padding-y: 0.7rem;
        width: 8rem;
    }

    .form-control {
        font-size: 1.25rem;
        --bs-border-radius: 0;
    }
</style>

</html>
